.title{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    font-style: bold;
    background-color: grey;
    padding: 10px;
    border-radius: 40px;
    left: 34.5rem;
    top: 2.5rem;
}